@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }

  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


body {
  font-family: 'Lalezar', cursive;
}


header {
  display: block;
}
#navbar-main {
    padding: 1rem;
    z-index: 99;
    background-color: #000;
    transition: all 1s ease;
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top {
  top: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 6.25rem
}

#navbar-main .navbar-brand img {
  transition: filter 2s ease;
  margin: 15px 15px 15px 20px;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}


#navbar-main .nav-item .nav-link {
  color: #fff;
  font-size: 1em;
  transition: all 500ms;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 20px;
  transition: transform .1s ease;
  text-decoration: none;
  
}

a.nav-link:hover {
  transform: scale(1.2);;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin-right: 6.25rem;
}

section {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}


.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 50px;
}


.wrapper {
	height: 500px;
	margin: 8% 2% 2%;
	width: 350px;
	position: relative;
	perspective: 800px;
}
.wrapper .box {
	position: absolute;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
}
.wrapper .box .front, .wrapper .box .back {
	display: block;
	margin: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
}
.wrapper .box .front {
	background-color: #fdfdfd;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 30px;
}
.front h2 {
	font-size: 27px;
	text-align: center;
	margin-top: 10%;
	color: #1f1e1e;
	text-transform: uppercase;
}

.front h3 {
	font-size: 27px;
	text-align: center;
	margin-top: 10%;
	color: #1f1e1e;
	text-transform: uppercase;
}
.front h5 {
	font-size: 15px;
	text-align: center;
	margin: 0 0 30px 0;
	text-transform: uppercase;
	color: #1f1e1e;
}

.front h6 {
	font-size: 15px;
	text-align: center;
	margin-top: 10%;
	color: #1f1e1e;
	text-transform: uppercase;
  opacity: 0.6;
}
.wrapper .box .back {
	transform: rotateY(180deg);
  background-color: #fdfdfd;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 30px;
}
.wrapper .btn {
	margin-top: 25px;
}
.wrapper .box.animated {
	transform: rotateY(-180deg);
}
.wrapper .close {
	display: block;
	font-size: 40px;
	position: absolute;
	top: 15px;
	right: 3%;
	text-decoration: none;
	color: #1f1e1e;
}
.btn {
	color: #fff;
	display: block;
	font-size: 15px;
	margin: 0 auto;
	max-width: 250px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(to right, #e53935, #e35d5b);
	border-radius: 50px;
}
.container {
	background-color: #fdfdfd;
	padding: 60px;
	height: 380px;
	text-align: center;
	color: #1f1e1e;
  border-radius: 30px;
}
.img-area {
	min-height: 160px;
	overflow: hidden;
	margin: 8% auto 0;
  padding: 20px;
}
.img-area img {
	width: 100%;
}
.socials {
	width: 85%;
	text-align: center;
	margin: auto;
	line-height: 1.5;
	font-size: 20px;
}
.socials span {
	background: #fff;
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	line-height: 50px;
}
.text-area h2 {
	margin: 0;
	text-transform: uppercase;
}
.skill-area {
	width: 100%;
}
.skill-area p {
	font-weight: 700;
	text-align: left;
}
.single-skill {
	background: #262626;
}
.skills {
	text-align: right;
	color: rgb(26, 25, 25);
	background: linear-gradient(to right, #e53935, #e35d5b);
	font-weight: 700;
}
.one {
	width: 90%;
}
.two {
	width: 85%;
}
.three {
	width: 75%;
}
.four {
	width: 90%;
}

.car-price {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid hsla(0,0%,43.9%,.15);
  border-bottom: 1px solid hsla(0,0%,43.9%,.15);
  margin-bottom: 25px;
  text-align: center;
  min-height: 62px;
}

.car-price-text {
  font-size: 31px;
  font-weight: 400;
  text-align: right;
}

.currency {
  font-size: 12px;
}



.reveal{
  position: relative;
  transform: translateY(-150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.car-price img {
  display: block;
  width: 100%;
  max-height: 40px;
}

img, svg {
  vertical-align: middle;
}
img {
  border-style: none;
}

.car-price-for {
  font-size: 24px;
  color:rgb(59, 58, 58);
  text-align: left;
  text-transform: uppercase;
  opacity: 0.7;
}


.spec  {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
}


.spec-left {
  font-size: 20px;
  opacity: 0.7;
}
.spec-right {
  font-size: 20px;
  opacity: 1;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  margin-bottom: 15%;
}

.row {
  background-color: #fdfdfd;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 30px;
  width: 50%;
  margin-left: 2%;
  margin-bottom: 10%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;  
}


.row-right {
  background-color: #fdfdfd;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 30px;
  width: 50%;
  margin-bottom: 10%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;  
  margin-right: 2%;
  float: right;
}


.row p, .row-right p {
  opacity: 0.7;

}

#infobox {
  padding-top: 0;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map p {
  font-size: 36px;
  margin: 2%;
}

.map-info {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}


footer {
  padding-top: 50px;
  background-color: #e9e3e3;
  border-radius: 30px 30px 0 0;
}


.container-con {
  display: flex;
  max-width: 720px;
  justify-content: center;
}

.row-con {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 75%;
}

.row-con h3 {
  font-weight: 400;
  font-size: 24px;
  position: relative;
  border-bottom: 2px solid goldenrod;
  margin-bottom: 25%;
}


.contact-row {
  padding-bottom: 25%;
}


footer .footer {
  background-color: #000;
  padding: 40px;
  text-align: center;
  border-radius: 30px 30px 0 0;
}

.movie {
  height: 100vh;
  height: calc(var(--vh, 1vh)*100);
  background-position: 50%;
  background-size: cover;
  position: relative;
  max-width: 100%;
  background-image: url("bg.jpg");
}

@media (max-width:884px){
  .map{
    width: auto;
    height: auto;
      
  }
}

@media only screen and (min-width: 370px) and (max-width: 767px){
  section{
    width: 390px;
    height: auto;
  }
}



@media only screen and (min-width: 370px) and (max-width: 767px){
  .map {
    flex-direction: column
  }
  .map-info > svg {
    display: none;
  }
}

@media only screen and (min-width: 370px) and (max-width: 767px){
  .map> iframe{
    width: 350px;
  }
}


@media (min-width:540px){
  .map > iframe{
    width: 600px;
  }
}

@media only screen and (min-width: 370px) and (max-width: 767px){
  .map-info {
    text-align: center;
  }
}


@media only screen and (min-width: 370px) and (max-width: 767px) {
  .row-con {
    padding-left: 10%;
  }
}

ul,li {
  margin: 0;
  list-style-type: none
}

input {
  outline: none;
  border: none
}

textarea {
  outline: none;
  border: none
}

textarea:focus,input:focus {
  border-color: transparent!important
}

input::-webkit-input-placeholder {
  color: #999
}

input:-moz-placeholder {
  color: #999
}

input::-moz-placeholder {
  color: #999
}

input:-ms-input-placeholder {
  color: #999
}

textarea::-webkit-input-placeholder {
  color: #999
}

textarea:-moz-placeholder {
  color: #999
}

textarea::-moz-placeholder {
  color: #999
}

textarea:-ms-input-placeholder {
  color: #999
}

button {
  outline: none!important;
  border: none;
  background: 0 0
}

button:hover {
  cursor: pointer
}

iframe {
  border: none!important
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #009bff;
  background: -webkit-linear-gradient(left,#0072ff,#00c6ff);
  background: -o-linear-gradient(left,#0072ff,#00c6ff);
  background: -moz-linear-gradient(left,#0072ff,#00c6ff);
  background: linear-gradient(left,#0072ff,#00c6ff);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.container-contact1 {
  width: 1280px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 90px 130px 88px 148px;
}



.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%
}

.contact1-form {
  width: 390px
}

.contact1-form-title {
  display: block;
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px
}

input.input1+.shadow-input1 {
  border-radius: 25px
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px
}

textarea.input1+.shadow-input1 {
  border-radius: 25px
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Lalezar;
  font-size: 15px;
  line-height: 1.5;
  color: #666
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
  color: rgb(255, 240, 30)
}

.input1:focus+.shadow-input1 {
  -webkit-animation: anim-shadow .5s ease-in-out forwards;
  animation: anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
  to {
      box-shadow: 0 0 80px 30px;
      opacity: 0
  }
}

@keyframes anim-shadow {
  to {
      box-shadow: 0 0 80px 30px;
      opacity: 0
  }
}

.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #e9e3e3;
  font-family: Lalezar;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s
}

.contact1-form-btn i {
  margin-left: 7px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s
}

.contact1-form-btn:hover {
  background: #333
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px)
}

@media(max-width: 1200px) {
  .contact1-pic {
      width:33.5%
  }

  .contact1-form {
      width: 44%
  }
}

@media(max-width: 992px) {
  .container-contact1 {
      padding:90px 80px 88px 90px;
      width: 75%;
  }

  .contact1-pic {
      width: 35%
  }

  .contact1-form {
      width: 55%
  }
}

@media(max-width: 768px) {
  .container-contact1 {
      padding:90px 80px 88px
  }

  .contact1-pic {
      display: none
  }

  .contact1-form {
      width: 100%
  }
}

@media(max-width: 576px) {
  .container-contact1 {
      padding:90px 15px 88px;
      width: auto;
  }
}

.validate-input {
  position: relative
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1
}

@media(max-width: 992px) {
  .alert-validate::before {
      visibility:visible;
      opacity: 1
  }
}

@media(min-width: 676px) {
  .row-con {
      padding-left: 25%;
  }
}



.list-icons > li {
  padding-top: 20px;
  padding-left: 20px;
}

.list-icons > li > i {
  margin: 20px;
}






/*
@media (min-width: 1445px){
  .movie {
    background-image: url("bg1445.jpg");
    
}
}
@media (min-width: 992px) {
  .movie {
    background-image: url("bg992.jpg");
}
}
@media (min-width: 767px){
  .movie {
    background-image: url("bg767.jpg");
}
}
@media (min-width: 535px) {
  .movie {
    background-image: url("bg.jpg");
}
}
*/
